.App {
  width: 100%;
  min-height: 100vh;
  /* background: #1E1E1E; */
  background: #f1f1f1;
}
.place_stage {
  background: #1e1e1e;
}
@media (max-width: 321px) {
  .place_stage {
    background: #1e1e1e;
    width: 430px;
  }
}
@media (max-width: 376px) {
  .place_stage {
    background: #1e1e1e;
    width: 430px;
  }
}
@media (max-width: 426px) {
  .place_stage {
    background: #1e1e1e;
    width: 430px;
  }
}
